.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
background-color: rgb(213, 243, 245);
margin: 0; /* Remove default body margin */
overflow-x: hidden; /* Prevent horizontal scrollbar */
}

/* App.css or index.css */
.custom-button {
  border: 1px solid white; /* Add your desired border style */
  color: white; /* Text color */
}

.custom-button:hover {
  background-color: white; /* Change background color on hover */
  color: black; /* Change text color on hover */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Add this to your styles or create a separate stylesheet */
.custom-btn {
  background-color: #007bff; /* Set your desired background color */
  color: white; /* Set your desired text color */
  border: none;
  border-radius: 0.25rem; /* Set your desired border radius */
  cursor: pointer;
  padding: 10px 20px; /* Set your desired padding */
  margin-bottom: 20px;
  margin-top: 15px;
}

.custom-btn:hover {
  background-color: #0056b3; /* Set your desired background color on hover */
}
